{% comment %}
  Renders a section for getting light on ecology and sustainability.

  Usage:
    {% render 'ecology-card' %}
{% endcomment %}

<section 
  id="ecology_wrapper" 
  style="background: url('{{ 'bg-ecology.jpg' | asset_url }}') no-repeat center center / cover;"
>
  <div id="ecology_overlay" class="absolute top-0 bottom-0 left-0 right-0"></div>

  <div class="container">
      <div class="pt-28 pb-14">
          <div class="flex flex-col items-bottoms gap-y-8 text-white">
              <span class="ecology_title">3 tonnes</span>
              <p class="w-3/4 min-w-96">
                  C’est la quantité de combinaisons que nous avons déjà revalorisé depuis notre création, dont 2,3 tonnes rien qu'en 2023. Chez Oceneo, notre ambition est de réduire l'impact environnemental du surf en revalorisant les combinaisons usagées. En travaillant exclusivement en circuit court avec des ESAT et des couturiers locaux, nous garantissons l'utilisation de produits et de matériaux durables, tels que la résine française biosourcée à base d'huile de pin, des emballages en carton recyclé et des étuis en néoprène recyclé. Situés au plus près de l'océan, nous sommes déterminés à montrer qu'il existe des solutions pour recycler le néoprène, un matériau souvent jeté ou enfoui, avec près de 400 tonnes de déchets chaque année.
              </p>
          </div>
      </div>
  </div>
</section>
