{% comment %}
  Renders a text only section.

  Accepts:
    - text: {string} text (required)

  Usage:
    {% render 'split-section',
      text: 'Lorem ipsum dolor sit amet',
      text_position: 'left',
      text_align: 'left',
      max_width: '500'
    %}
{% endcomment %}

<div class="container">
  <section
    class="pt-6 pb-20 flex"
    style="
      {% if text_position == 'center' %}
        justify-content: center;
      {% elsif text_position == 'right' %}
        justify-content: end;
      {% else %}
        justify-content: start;
      {% endif %}

      {% if text_align == 'center' %}
        text-align: center;
      {% elsif text_align == 'right' %}
        text-align: right;
      {% elsif text_align == 'justify' %}
        text-align: justify;
      {% else %}
        text-align: left;
      {% endif %}
    "
  >
    <div
      class="custom-richtext"
      style="
        max-width: {{ max_width }}px;
      "
    >
      {{ text }}
    </div>
  </section>
</div>