@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply h-full antialiased font-body text-base text-accent bg-white;
  }

  model-viewer {
    @apply h-fit aspect-square;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-black;
  }

  p > span {
    @apply font-mono font-semibold bg-secondary/20 text-secondary py-1 px-2 rounded;
  }
}

@layer components {
  .button,
  button {
    @apply inline-flex items-center justify-center text-center align-middle py-2 px-4 appearance-none select-none no-underline rounded-md shadow-sm hover:shadow-md transition-shadow;
  }

  .button-primary {
    @apply button bg-black text-white;
  }
  
  .button-secondary {
    @apply button border border-black text-black hover:bg-black hover:text-white transition-all;
  }

  .button-primary.is-heading-font {
    font-family: "Bricolage Grotesque", sans-serif;
    font-variation-settings: "wdth" 80, "wght" 800;
    text-transform: uppercase;
    line-height: 110%;
    padding: 12px 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-variation-settings: "wdth" 80, "wght" 800;
    text-transform: uppercase;
    line-height: 110%;
    text-wrap: balance;
  }

  p {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    line-height: 140%;
    font-size: 18px;
  }

  h2 {
    font-size: 56px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 18px;
  }
  
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 16px;
    }
    p {
      line-height: 140%;
      font-size: 16px;
    }
    .button,
    button {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 640px) {
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 28px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 16px;
    }
  }
}

.home_hero_keyword {
  font-size: clamp(4.375rem, 0.1042rem + 21.3542vw, 17.1875rem);
}

/* ------------------------------------------------- Ecology - Component ------------------------------------------------- */
#ecology_wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

#ecology_overlay {
  z-index: -1;
  background: linear-gradient(-169.519deg, rgba(0, 0, 0, 0%) 45%, rgba(0, 0, 0, 75%) 100%);
}

.ecology_title {
  text-transform: uppercase;
  line-height: 0.8;
  font-family: "Bricolage Grotesque", sans-serif;
  font-variation-settings: "wdth" 80, "wght" 800;
  font-size: 250px;
}
@media screen and (max-width: 1024px) {
  .ecology_title {
    font-size: 200px;
  }
}
@media screen and (max-width: 768px) {
  #ecology_overlay {
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0%) 20%, rgba(0, 0, 0, 80%) 100%);
  }
  .ecology_title {
    font-size: 150px;
  }
}
@media screen and (max-width: 640px) {
  .ecology_title {
    font-size: 90px;
  }
}

/* ------------------------------------------- HOME video + VIDEO JS param here ------------------------------------------- */
.vjs-big-play-button {
  height: auto !important;
  width: 30% !important;
  max-width: 110px !important;
  aspect-ratio: 1 !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  margin: 0 !important;
  transform: translate(-50%, -50%) !important;
}

@media screen and (max-width: 640px) {
  .vjs-big-play-button {
    width: 20% !important;
  }
}

.vjs-big-play-button .vjs-svg-icon {
  width: 65% !important;
  height: auto !important;
  fill: #000 !important;
}

.video-js .vjs-control-bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%) !important;
}

.vjs-control:focus .vjs-svg-icon, .vjs-svg-icon:hover {
  filter: none !important;
}
.vjs-play-control .vjs-svg-icon {
  transition: all 0.2s ease-out !important;
}
.vjs-play-control:hover .vjs-svg-icon {
  transform: scale(1.5) !important;
}
.vjs-volume-panel {
  display: none !important;
}
.video-js .vjs-progress-control .vjs-progress-holder {
  margin: 0px !important;
}
.vjs-progress-holder, .vjs-load-progress {
  background: #ffffff4e !important;
}
.video-js .vjs-load-progress div {
  background: #ffffffa9 !important;
}
.video-js .vjs-play-progress{
  background-color: #FC9E4F !important;
}
.video-js .vjs-play-progress span {
  fill: #FC9E4F !important;
}