@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("{{ 'BricolageGrotesque-Variable.woff' | asset_url }}") format("woff");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  src: url("{{ 'InterTight-Variable.woff' | asset_url }}") format("woff");
}
@font-face {
  font-family: "Inter Tight";
  font-style: italic;
  src: url("{{ 'InterTight-Italic-Variable.woff' | asset_url }}") format("woff");
}

@layer base {
  html {
    @apply h-full antialiased font-body text-base text-accent bg-white;
  }

  model-viewer {
    @apply h-fit aspect-square;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-black;
  }

  p > span {
    @apply font-mono text-lg font-semibold bg-secondary/20 text-secondary py-1 px-2 rounded;
  }
}

@layer components {
  .button,
  button {
    @apply inline-flex items-center justify-center text-center align-middle py-2 px-4 appearance-none select-none no-underline rounded-md shadow-sm hover:shadow-md transition-shadow;
  }

  .button-primary {
    @apply button bg-black text-white;
  }
  
  .button-secondary {
    @apply button border border-black text-black hover:bg-black hover:text-white transition-all;
  }

  .button-primary.is-heading-font {
    font-family: "Bricolage Grotesque", sans-serif;
    font-variation-settings: "wdth" 80, "wght" 800;
    text-transform: uppercase;
    line-height: 110%;
    padding: 12px 24px;
  }

  .card {
    background-image: var(--gradient);
    background-size: 500%;
    background-position: 100%;
    transition: background-position 3s;
    @apply ease-wiggle;
  }

  .card:is(:hover, :focus-within) {
    background-position: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-variation-settings: "wdth" 80, "wght" 800;
    text-transform: uppercase;
    line-height: 110%;
    text-wrap: balance;
  }

  h2 {
    font-size: 56px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 18px;
  }
}

#ecology_wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

#ecology_overlay {
  z-index: -1;
  background: linear-gradient(-169.519deg, rgba(0, 0, 0, 0%) 45%, rgba(0, 0, 0, 75%) 100%);
}

.ecology_title {
  text-transform: uppercase;
  line-height: 0.8;
  font-variation-settings: "wdth" 80, "wght" 800;
  font-size: 250px;
  font-family: "Bricolage Grotesque", sans-serif;
}