{% comment %}
    Contenu de la page home avec des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<div>
    {% if section.settings.cover %}
        {% render 'header.template', cover:  section.settings.cover, title: "Notre histoire", alignment: "left" %}
    {% else %}
        {% render 'header.template', cover: "about-cover.jpg", title: "Notre histoire", alignment: "left" %}
    {% endif %}

    {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when "intro-section" -%}
                {% render 'text-intro' text: block.settings.text %}
            {%- when "split-section-title" -%}
                {% render 'split-section-title',
                    title: block.settings.title
                    title_position: block.settings.title_position
                    text: block.settings.text
                    link_text: block.settings.link_text
                    link_to: block.settings.link_to
                %}
            {%- when "images-disposition" -%}
                {% render 'images-disposition'
                    image_1: block.settings.image_1
                    image_1_mobile:block.settings.image_1_mobile
                    image_2: block.settings.image_2
                    image_2_mobile: block.settings.image_2_mobile
                    image_3: block.settings.image_3
                    image_3_mobile: block.settings.image_3_mobile
                    layout: 'triptych'
                %}
            {%- when "text-only" -%}
                {% render 'text-only',
                    text: '<p>Lorem ipsum dolor sit amet</p>',
                    text_position: 'right',
                    text_align: 'center',
                    max_width: '500'
                %}
        {% endcase %}
    {% endfor %}

    {% render 'text-only',
        text: "<p>Il a fallu des centaines de prototypes et près de quatre ans de recherche et développement pour réussir à transformer le néoprène souple en une matière solide et flexible.</p><p>Notre secret réside dans l'association du broyât de combinaison avec une résine biosourcée à base d’huile de pin. Cette combinaison permet de conserver les caractéristiques physiques du néoprène tout en continuant de travailler avec des produits durables et naturels.</p>"
        max_width: '890'
    %}
</div>

{% schema %}
{
    "name": "About Page",
    "settings": [
        {
            "type": "image_picker",
            "id": "cover",
            "label": "Choisir une image de couverture",
        },
    ],
    "blocks": [
        {
            "name": "Section - Intro",
            "type": "intro-section",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Contenu"
                },
            ]
        },
        {
            "name": "Section - Split (titre)",
            "type": "split-section-title",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Titre"
                },
                {
                    "type": "select",
                    "id": "title_position",
                    "label": "Position de l'image",
                    "options": [
                        {
                            "value": "left",
                            "label": "Gauche"
                        },
                        {
                            "value": "right",
                            "label": "Droite"
                        }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Contenu"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Texte du lien"
                },
                {
                    "type": "url",
                    "id": "link_to",
                    "label": "Lien"
                },
            ]
        },
        {
            "name": "Section - Images Layout",
            "type": "images-disposition",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1 (desktop)",
                },
                {
                    "type": "image_picker",
                    "id": "image_1_mobile",
                    "label": "Image 1 (mobile)",
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2 (desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "image_2_mobile",
                    "label": "Image 2 (mobile)",
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image 3 (desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "image_3_mobile",
                    "label": "Image 3 (mobile)",
                },
                {
                    "type": "select",
                    "id": "layout",
                    "label": "Disposition des images",
                    "options": [
                        {
                            "value": "triptych",
                            "label": "En tryptique"
                        },
                        {
                            "value": "grid",
                            "label": "En grille"
                        }
                    ]
                },
            ]
        },
        {
            "name": "Section - Texte seul",
            "type": "text-only",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Contenu"
                },
                {
                    "type": "select",
                    "id": "text_position",
                    "label": "Position du texte",
                    "options": [
                        {
                            "value": "left",
                            "label": "Gauche"
                        },
                        {
                            "value": "right",
                            "label": "Droite"
                        },
                        {
                            "value": "center",
                            "label": "Centre"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_align",
                    "label": "Alignement du texte",
                    "options": [
                        {
                            "value": "left",
                            "label": "Gauche"
                        },
                        {
                            "value": "right",
                            "label": "Droite"
                        },
                        {
                            "value": "center",
                            "label": "Centre"
                        },
                        {
                            "value": "justify",
                            "label": "Justifié"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "max_width",
                    "label": "Largeur maximale du texte",
                    "min": 0,
                    "max": 1400,
                    "step": 50,
                    "unit": "px",
                    "default": 500
                },
            ]
        },
    ],
    "presets": [
        {
            "name": "About Page"
        }
    ]
}
{% endschema %}