{% comment %}
    Contenu de la page home avec des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<div>
</div>

{% schema %}
{
    "name": "About Page",
    "settings": [],
    "presets": [
        {
            "name": "About Page"
        }
    ]
}
{% endschema %}