{% comment %}
    Contenu de la page home avec des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<div>
    {% if section.settings.cover %}
        {% render 'header.template' cover:  section.settings.cover, title: "Mon panier" %}
    {% else %}
        {% render 'header.template' cover: "cart-cover.jpg" title: "Mon panier" %}
    {% endif %}

    {% comment %} {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when "intro-section" -%}
                {% render 'text-intro' text: block.settings.text %}
            {%- when "split-section" -%}
                {% render 'split-section'
                    content_image: block.settings.content_image
                    title: block.settings.title
                    text: block.settings.text
                    link_text: block.settings.link_text
                    link_to: block.settings.link_to
                %}
            {%- when "lifestyle-section" -%}
                {% render 'home-lifestyle' 
                    image_1: block.settings.image_1
                    image_2: block.settings.image_2
                    image_3: block.settings.image_3
                    image_4: block.settings.image_4
                %}
        {% endcase %}
    {% endfor %} {% endcomment %}
</div>

{% schema %}
{
    "name": "About Page",
    "settings": [
        {
            "type": "image_picker",
            "id": "cover",
            "label": "Choisir une image de couverture",
        },
    ],
    "blocks": [
        {
            "name": "Section - Intro",
            "type": "intro-section",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Contenu"
                },
            ]
        },
        {
            "name": "Section - Split",
            "type": "split-section",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "content_image",
                    "label": "Image"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Contenu"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Titre"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Texte du lien"
                },
                {
                    "type": "url",
                    "id": "link_to",
                    "label": "Lien"
                },
            ]
        },
    ],
    "presets": [
        {
            "name": "About Page"
        }
    ]
}
{% endschema %}