{% comment %}
    Contenu de la page home avec des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<div>
    {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when "intro-section" -%}
                {% render 'text-intro' text: block.settings.text %}
            {%- when "split-section-title" -%}
                {% render 'split-section-title',
                    title: block.settings.title
                    title_position: block.settings.title_position
                    text: block.settings.text
                    link_text: block.settings.link_text
                    link_to: block.settings.link_to
                %}
            {%- when "images-disposition" -%}
                {% render 'images-disposition'
                    image_1: block.settings.image_1
                    image_1_mobile:block.settings.image_1_mobile
                    image_2: block.settings.image_2
                    image_2_mobile: block.settings.image_2_mobile
                    image_3: block.settings.image_3
                    image_3_mobile: block.settings.image_3_mobile
                    layout: 'triptych'
                %}
            {%- when "text-only" -%}
                {% render 'text-only',
                    text: block.settings.text
                    text_position: block.settings.text_position
                    text_align: block.settings.text_align
                    max_width: block.settings.max_width
                %}
            {%- when "what-is" -%}
                {% render 'what-is',
                    text: block.settings.text
                    logo: block.settings.logo
                    bg_color: block.settings.bg_color
                %}
        {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "About Page",
    "settings": [],
    "blocks": [
        {
            "name": "Section - Intro",
            "type": "intro-section",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Contenu"
                },
            ]
        },
        {
            "name": "Section - Split (titre)",
            "type": "split-section-title",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Titre"
                },
                {
                    "type": "select",
                    "id": "title_position",
                    "label": "Position de l'image",
                    "options": [
                        {
                            "value": "left",
                            "label": "Gauche"
                        },
                        {
                            "value": "right",
                            "label": "Droite"
                        }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Contenu"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Texte du lien"
                },
                {
                    "type": "url",
                    "id": "link_to",
                    "label": "Lien"
                },
            ]
        },
        {
            "name": "Section - Images Layout",
            "type": "images-disposition",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1 (desktop)",
                },
                {
                    "type": "image_picker",
                    "id": "image_1_mobile",
                    "label": "Image 1 (mobile)",
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2 (desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "image_2_mobile",
                    "label": "Image 2 (mobile)",
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image 3 (desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "image_3_mobile",
                    "label": "Image 3 (mobile)",
                },
                {
                    "type": "select",
                    "id": "layout",
                    "label": "Disposition des images",
                    "options": [
                        {
                            "value": "triptych",
                            "label": "En tryptique"
                        },
                        {
                            "value": "grid",
                            "label": "En grille"
                        }
                    ]
                },
            ]
        },
    ],
    "presets": [
        {
            "name": "About Page"
        }
    ]
}
{% endschema %}