{% comment %}
    Contenu de la section Blog Featured qui permet de mettre des articles de blog en avant

{% endcomment %}
 
<div class="pt-20 pb-24">
  <h1>Blog featured section</h1>
</div>

{% schema %}
{
  "name": "Blog Featured",
  "settings": [],
  "presets": [
    {
      "name": "Blog Featured",
    }
  ]
}
{% endschema %}