{% comment %}
    Contenu des pages collection - Non utilisé dans la v1.0.0

{% endcomment %}
 
<div>
    Collection page
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}