{% comment %}
    Contenu de la récapitulatif des collections (liste des collections) - Non utilisé dans la v1.0.0

{% endcomment %}
 
<div>
    Collections list page
</div>

{% schema %}
{
  "name": "Collections List",
  "settings": [],
  "presets": [
    {
      "name": "Collections List",
    }
  ]
}
{% endschema %}