{% comment %}
    Contenu de la récapitulatif des collections (liste des collections) - Non utilisée dans la v1.0.0

{% endcomment %}
 
<div class="pt-20 pb-24">
  <h1>Collection List Page</h1>
</div>

{% schema %}
{
  "name": "Collections List Page",
  "settings": [],
  "presets": [
    {
      "name": "Collections List Page",
    }
  ]
}
{% endschema %}