{% comment %}
    Contenu utilisé par le modèle de page "Contact"

{% endcomment %}

<div>
  <div class="container max-w-3xl pb-24">
    <div class="mx-auto gap-x-6">
      {% form 'contact' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <div class="bg-green-100 text-green-600 px-4 py-3 md:px-8 md:py-6 rounded border border-green-300 mb-6">
            <p>
              Votre message a bien été envoyé. Nous vous répondrons dans les plus brefs délais.
            </p>
          </div>
        {% endif %}
      
        <div class="flex flex-col gap-y-4">
          <div class="flex flex-col sm:flex-row gap-4">
            <div class="input-wrapper w-full">
              <label for="first-name">Prénom</label>
              <input required class="input-element" type="text" name="contact[first_name]" id="first-name" />
            </div>
          
            <div class="input-wrapper w-full">
              <label for="last-name">Nom</label>
              <input required class="input-element" type="text" name="contact[last_name]" id="last-name" />
            </div>
          </div>
        
          <div class="flex flex-col sm:flex-row gap-4">
            <div class="input-wrapper w-full">
              <label for="email">Email</label>
              <input required class="input-element" type="email" name="contact[email]" id="email" />
            </div>
            
            <div class="input-wrapper w-full">
              <label for="phone">Téléphone</label>
              <input class="input-element" type="tel" name="contact[phone]" id="phone" />
            </div>
          </div>

          {% comment %} <div class="input-wrapper">
            <label for="order-number">Numéro de commande</label>
            <input class="input-element" type="text" name="contact[order_number]" id="order-number" />
          </div> {% endcomment %}
        
          <div class="input-wrapper">
            <label for="message">Message</label>
            <textarea required class="input-element" name="contact[body]" id="message" rows="5"></textarea>
          </div>

          <input type="hidden" name="form_type" value="contact">
        
          <div class="submit">
            <input class="button-primary" type="submit" value="Envoyer" />
          </div>
        </div>
      {% endform %}        
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Contact",
  "settings": [],
  "presets": [
    {
      "name": "Page Contact"
    }
  ]
}
{% endschema %}