{% comment %}
    Contenu utilisé par le modèle de page "FAQ"

{% endcomment %}

<div>
    {% render 'header.template' cover: "faq-cover.jpg" title: page.title %}

    <div class="container max-w-4xl pb-24">
      <div class="flex flex-col gap-y-3">
        {% for block in section.blocks %}
          {% if block.type == 'accordion-block' %}
              {% render 'accordion'
                  title: block.settings.title
                  content: block.settings.content
                  type: block.settings.type
              %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="pt-16 flex flex-col gap-y-4 max-w-3xl">
        <p class="text-center font-heading font-bold text-4xl uppercase">Pas la bonne question ?</p>
        <p class="text-center text-balance">Si vous n’avez pas trouvé la réponse à votre question dans notre liste vous pouvez toujours nous joindre via notre <a href="/pages/contact" class="underline font-semibold">formulaire de contact</a>.</p>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Page FAQ",
  "settings": [
    {
      "type": "image_picker",
      "id": "cover",
      "label": "Choisir une image de couverture"
    },
  ],
  "blocks": [
    {
      "name": "Accordion",
      "type": "accordion-block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titre"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contenu"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "strong",
              "label": "Texte gras"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "strong"
        }
      ]
    },
  ],
  "presets": [
    {
      "name": "Page FAQ"
    }
  ]
}
{% endschema %}