{% comment %}
    Contenu de la page home avec des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<div>
    {% if section.settings.hero_image and section.settings.hero_mobile_image %}
        {% render 'home-hero' hero_image: section.settings.hero_image hero_mobile_image: section.settings.hero_mobile_image %}
    {% else %}
        {% render 'home-hero' hero_image: 'hero-cover.png' hero_mobile_image: 'hero-cover-mobile.png' %}
    {% endif %}
</div>

{% schema %}
{
    "name": "Home Page",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Image de fond pour la section hero"
        },
        {
            "type": "image_picker",
            "id": "hero_mobile_image",
            "label": "Image de fond pour la section hero sur mobile"
        },
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Home Page"
        }
    ]
}
{% endschema %}