{% comment %}
    Contenu de la page home avec des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<div>
    {% if section.settings.hero_image and section.settings.hero_mobile_image %}
        {% render 'home-hero' hero_image: section.settings.hero_image hero_mobile_image: section.settings.hero_mobile_image %}
    {% else %}
        {% render 'home-hero' hero_image: 'hero-cover.png' hero_mobile_image: 'hero-cover-mobile.png' %}
    {% endif %}

    {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when "intro-section" -%}
                {% render 'text-intro' text: block.settings.text %}
            {%- when "split-section" -%}
                {% render 'split-section'
                    content_image: block.settings.content_image
                    title: block.settings.title
                    text: block.settings.text
                    link_text: block.settings.link_text
                    link_to: block.settings.link_to
                %}
            {%- when "lifestyle-section" -%}
                {% render 'home-lifestyle' 
                    image_1: block.settings.image_1
                    image_2: block.settings.image_2
                    image_3: block.settings.image_3
                    image_4: block.settings.image_4
                %}
        {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Home Page",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Image de fond pour la section hero"
        },
        {
            "type": "image_picker",
            "id": "hero_mobile_image",
            "label": "Image de fond pour la section hero sur mobile"
        },

    ],
    "blocks": [
        {
            "name": "Section - Intro",
            "type": "intro-section",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Contenu"
                },
            ]
        },
        {
            "name": "Section - Split",
            "type": "split-section",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "content_image",
                    "label": "Image"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Contenu"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Titre"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Texte du lien"
                },
                {
                    "type": "url",
                    "id": "link_to",
                    "label": "Lien"
                },
            ]
        },
        {
            "name": "Section - Lifestyle",
            "type": "lifestyle-section",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2"
                },
                {
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image 3"
                },
                {
                    "type": "image_picker",
                    "id": "image_4",
                    "label": "Image 4"
                },
            ]
        },
    ],
    "presets": [
        {
            "name": "Home Page"
        }
    ]
}
{% endschema %}