{% comment %}
    Contenu utilisé par le modèle de page "classique"

{% endcomment %}

<div>
    {% if settings.section.cover %}
      {% render 'header.template' cover: settings.section.cover, title: page.title %}
    {% else %}
      {% render 'header.template' cover: "classic-cover.png" title: page.title %}
    {% endif %}

    <div class="container max-w-4xl pb-24">
        {{ page.content }}
    </div>
</div>

{% schema %}
{
  "name": "Main Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "cover",
      "label": "Choisir une image de couverture",
    },
  ],
  "presets": [
    {
      "name": "Main Page"
    }
  ]
}
{% endschema %}