{% comment %}
    Contenu utilisé par le modèle de page "classique"

{% endcomment %}

<div>
    <div class="container max-w-4xl pb-24">
        {{ page.content }}
    </div>
</div>

{% schema %}
{
  "name": "Main Wrapper",
  "settings": [],
  "presets": [
    {
      "name": "Main Wrapper"
    }
  ]
}
{% endschema %}