{% comment %}
    Contenu utilisé par le modèle de page "classique"

{% endcomment %}

<div>
    <div class="container max-w-4xl pb-24">
      {% form 'storefront_password' %}
        <div class="flex flex-col gap-y-4">
          <div class="input-wrapper">
            <label for="password">Mot de passe</label>
            <input required class="input-element" type="password" name="password" id="password" />
          </div>

          <button class="button-primary" type="submit">Accéder</button>
        </div>
      {% endform %}
    </div>
</div>

{% schema %}
{
  "name": "Password Element",
  "settings": [],
  "presets": [
    {
      "name": "Password Element"
    }
  ]
}
{% endschema %}