{% comment %}
    Détails du processus de création des produits

{% endcomment %}
 
<div>
    <div>
        Images here
    </div>

    <div>
        <h2>Notre process</h2>
    </div>
</div>

{% schema %}
{
    "name": "Process",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Process"
        }
    ]
}
{% endschema %}