{% comment %}
  Renders a text section who explain "Oceneo".
  
{% endcomment %}

<section
  class="pt-16 pb-20"
  style="background-color: {{ section.settings.bg_color }}"
>
  <div class="container">
    <div class="flex flex-col items-center justify-center gap-y-12">
      <div>
        {% if section.settings.logo.id %}
          {{ section.settings.logo | image_url: width: 500 | image_tag: class: "max-w-[400px] w-full" }}
        {% else %}
          <img src="{{ section.settings.logo | asset_url }}" class="max-w-[400px] w-full" />
        {% endif %}
      </div>

      <div class="custom-richtext max-w-[660px] w-full">
        {{ section.settings.text }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "What is",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Texte"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Couleur de fond"
    }
  ],
  "presets": [
    {
      "name": "What Is",
    }
  ]
}
{% endschema %}